/**
	*
**/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix::after,
.clearfix::before {
	display: table;
	content: " ";
	clear: both;
}

#gray {
	color: #000;
	background-color: #f5f7f8;
}

[class^="col-"] {
	float: left;
}

@media (min-width: 300px) and (max-width: 600px) {
.col-sm-1{width:8.33333%}
.col-sm-2{width:16.66666%}
.col-sm-3,.mquarter{width:24.99999%}
.col-sm-4,.mthird{width:33.33333%}
.col-sm-5{width:41.66666%}
.col-sm-6,.mhalf{width:49.99999%}
.col-sm-7{width:58.33333%}
.col-sm-8,.mtwothird{width:66.66666%}
.col-sm-9,.mthreequarter{width:74.99999%}
.col-sm-10{width:83.33333%}
.col-sm-11{width:91.66666%}
.col-sm-12{width:100%}
}

@media (min-width: 601px) and (max-width: 749px){
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}


@media (min-width:750px) and (max-width: 1050px) {
.col-lg-1{width:8.33333%}
.col-lg-2{width:16.66666%}
.col-lg-3,.lquarter{width:24.99999%}
.col-lg-4,.lthird{width:33.33333%}
.col-lg-5{width:41.66666%}
.col-lg-6,.lhalf{width:49.99999%}
.col-lg-7{width:58.33333%}
.col-lg-8,.ltwothird{width:66.66666%}
.col-lg-9,.lthreequarter{width:74.99999%}
.col-lg-10{width:83.33333%}
.col-lg-11{width:91.66666%}
.col-lg-12{width:100%}
}