
/* body */

#gray {
	color: #000;
	background-color: #f5f7f8;
}
/* Navigation Bar */

.icon-nav {
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #4d636f;
}

.nav-btn {
	display: block;
	color: #fff;
	padding: 14px 24px;
	float: left;
	text-align: left;
	transition: all 0.3s ease;
}

.menu {
	font-size: 17px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: left;
}

.active {
	background-color: #3a4b53;
	display: inline-block;
	color: white;
	text-align: left;
	padding: 14px 24px;
	float: left;
}

.active a:hover {
	text-decoration: none;
	color: #fff;
}

.active a:focus {
	color: #fff;
	text-decoration: none;
}

.fa-home {
	margin-right: 4px;
}

.dropdown {
	color: #fff;
}

.news:hover, .settings:hover, .messages:hover, .dropdown:hover {
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

.news a:focus, .settings a:focus, .messages a:focus {
	color: #fff;
}

.fa-home:hover {
	color: #fff;
}

.dropdown a {
	padding: 14px 24px;
	display: block;
	transition: all 0.3s ease;
}

li.dropdown {
    display: inline-block;
    position: static;
}

.dropdown a:hover {
	background-color: #fff;
	color: #000;
}

.dropdown:visited {
	color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-decoration: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #3a4b53;
	text-decoration: none;
	color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown-content:hover {
	background-color: #3a4b53;
	text-decoration: none;
}

.w3-red {
	margin-left: 10px;
}

.dropdown-content a:visited {
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

.avatar-circle {
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

.avatar {
	float: right;
}

.avatar:hover {
	background-color: white;
}

.w3-badge {
	float: right;
}

.fa:hover:not(.fa-home) {
	color: #000;
}

.icon-nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .icon-nav li:not(:first-child) {display: none;}
  .icon-nav a.icon {
    float: right;
    display: block;
    color: #fff;
    padding: 14px 24px;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .icon-nav.responsive {position: relative;}
  .icon-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .icon-nav.responsive li:nth-child(-n+4) {
    float: none;
    display: block;
    text-align: left;
  }
}


/* Page container */

.page-container {
	max-width: 1400px;
	margin-top: 80px;
	clear: both;
}

/* Left Column */

.profile {
	width: 100%;
	float: left;
	padding: 15px;
	border: 1px solid #fff;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.profile-heading {
	font-weight: 400;
	text-align: center;
}
	
.blue-avatar-circle {
	height: 106px;
	width: 106px;
	border-radius: 50%;
	border-style: none;
}

.avatar2 {
	border: none;
	text-align: center;
	margin: 20px 0;
}

/* Accordion */

.cards-dropdown {
	margin-top: 25px;
	background-color: #7d97a5;
	float: left;
	color: white;
	width: 100%;
	border:none;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 4px 10px 0 rgba(0,0,0,0.12)!important;
	text-align: left;
	position: relative;
	display: inline-block;
	float: left;
	transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
	border-radius: 2px;
}

.accordion {
	text-align: left;
	background-color: #7d97a5;
	color: white;
	border: none;
	display: block;
	outline: 0;
	padding: 6px 16px;
	text-decoration: none;
	cursor: pointer;
	text-transform: none;
	width: 100%;
}

.accordion:hover {
	 background-color: #3a4b53;
	 box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.24), 10px 17px 50px 5px rgba(0,0,0,0.19);
}

.accordion .fa:hover {
	color: #fff;
}

.accordion-content, .accordion-content3 {
	position: relative;
	background-color: #fff;
	width: 100%;
	color: #000;
	display: none;
	overflow: auto;
}

.accordion-content p {
	padding: 10px 16px;	
}

.accordion-content3 {
	padding: 0 8px;
	clear: both;
	display: table;
	content: "";
	display: none;
}

.accordion-content3 img {
	width: 50%;
	padding: 0 8px;
	float: left;
	margin-bottom: 12px;
	margin-top: 12px;
}

/* Interests */

div.interests {
	margin-top: 25px;
	background-color: #fff;
	color: #000;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
	border: 1px solid #fff;
	float: left;
	display: block;
	width: 100%;
}

div.container {
	margin-left: 0;
	width: 100%;
}

.w3-tag {
	display: inline-block;
	padding: 0px 8px;
	text-align: center;
}

span.w3-theme-d5 {
	background-color: #303e45;
	color: #fff;
}

span.w3-theme-d4 {
	background-color: #3a4b53;
	color: #fff;
}

span.w3-theme-d3 {
	background-color: #435761;
	color: #fff;
}

span.w3-theme-d2 {
	background-color: #4d636f;
	color: #fff;
}

span.w3-theme-d1 {
	background-color: #57707d;
	color: #fff;
}

span.w3-theme {
	background-color: #607d8b;
	color: #fff;
}

span.w3-theme-l1 {
	background-color: #7D97A7;
	color: #fff;
}

span.w3-theme-l2 {
	background-color: #9eb1bb;
	color: #fff;
}

span.w3-theme-l3 {
	background-color: #becbd2;
	color: #000;
}

span.w3-theme-l4 {
	background-color: #dfe5e8;
	color: #000;
}

span.w3-theme-l5 {
	background-color: #f5f7f8;
	color: #000;
}

div.alert {
	color: #000;
	background-color: #dfe5e8;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	float: left;
	margin-top: 25px;
}

.fa-times {
	float: right;
	font-size: 24px;
}

.fa-times:hover {
	color: grey;
	cursor: pointer;
}

/* Middle Column */

div.middle-column {
	padding-left: 0;
}

@media (min-width: 300px) and (max-width: 749px) {
	div.middle-column{padding-left: 10px;}
	div.right-column{padding-left: 10px;}
}

.post-container {
	color: #000;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 4px;
	float: left;
	width: 100%;
}

h6 {
	opacity: 0.6;
}

.social-media-container {
	padding: 10px 16px;

}

.post-content {
	border: 1px solid #ccc;
	padding: 8px 16px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-button {
	background-color: #607d8b;
	color: #fff;
	border: none;
	display: inline-block;
	padding: 6px 16px;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	outline: none;
}

.post-button:hover {
	transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
	box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.24), 10px 17px 50px 5px rgba(0,0,0,0.19);
}

.post-button i.fa-pencil:hover {
	color: #fff;
}

.fa-pencil {
	margin-right: 6px;
}

.container-post1 {
	background-color: #fff;
	color: #000;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	margin: 15px 15px 15px 0;
	border-radius: 4px;
	float: left;
	padding: 1em 16px;
	width: 100%;
}

.container-post2 {
	background-color: #fff;
	color: #000;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	margin: 0px 15px 15px 0;
	border-radius: 4px;
	float: left;
	padding: 1em 16px;
	width: 100%;
}

.container-post3 {
	background-color: #fff;
	color: #000;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	margin-bottom: 15px;
	border-radius: 4px;
	padding: 1em 16px;
	float: left;
	width: 100%;
}

.container-post2 i.fa-thumbs-up:hover, .container-post2 i.fa-comment:hover {
	color: #fff;
}

.container-post3 i.fa-thumbs-up:hover, .container-post3 i.fa-comment:hover {
	color: #fff;
}

.container-post1 h4, .container-post2 h4, .container-post3 h4 {
	float: left;
	margin-top: 20px;
}

.post-avatar, .post-avatar2, .post-avatar3 {
	width: 60px;
	border-radius: 50%;
	border-style: none;
	float: left;
	margin-right: 16px;
	margin-bottom: 30px;
}

.time, .time2, .time3 {
	opacity: 0.40;
	float: right;
}

.clear {
	clear: both;
}

.post-images img {
	width: 50%;
	float: left;
	margin-bottom: 12px;
	margin-top: 12px;
}

.post-image1 {
	padding-right: 8px;
}

.post-image-2 {
	padding-left: 8px;
}

.images-button1, .images-button2, .images-button3, .images-button4, .images-button5,.images-button6 {
	background-color: #607d8b;
	color: #fff;
	border: none;
	display: inline-block;
	padding: 6px 16px;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	outline: none;
	font-style: inherit;
	outline: none;
}

.post-button:hover,.images-button1:hover, .images-button2:hover, .images-button3:hover, .images-button4:hover, .images-button5:hover, .images-button6:hover {
	transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
	box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.24), 10px 17px 50px 5px rgba(0,0,0,0.19);
}
.post-images i.fa-thumbs-up:hover, .post-images i.fa-comment:hover {
	color: #fff;
}

.fa-thumbs-up, .fa-comment {
	margin-right: 6px;
}

.post-avatar2,.post-avatar3 {
	width: 60px;
	border-radius: 50%;
	border-style: none;
	float: left;
	margin-right: 16px;
	margin-bottom: 30px;
}

.clear2,.clear3 {
	clear: both;
}

.fjords {
	width: 100%;
	margin-bottom: 16px;
}

/* Right Column */

div.right-column {
	padding-left: 0;
}

.upcoming-events {
	background-color: #fff;
	color: #000;
	border-radius: 4px;
	padding: 1em 16px;
	text-align: center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	margin-bottom: 25px;
}

.image-events img {
	width: 100%;
	padding-bottom: 15px;
}

.button-events {
	background-color: #dfe5e8;
	border-style: none;
	width: 100%;
	padding: 6px;
	display: inline-block;
	outline: none;
	overflow: hidden;
	vertical-align: middle;
}

.button-events:hover {
	box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.24), 10px 17px 50px 5px rgba(0,0,0,0.19);
}

.friend-request {
	background-color: #fff;
	color: #000;
	padding: 1em 6px;
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	text-align: center;
	margin-bottom: 25px;
}

.friend-request p {
	text-align: center;
}

.avatar-request img {
	width: 50%;
	display: block;
	margin: auto;
}

.buttons {
	margin: auto;
	padding: 12px 10px 0 10px;
	color: #fff;
}

.request-button1 {
	display: inline;
	background-color: green;
	outline: none;
	width: 50%;
	overflow: hidden;
	border-style: none;
	padding: 6px;
	opacity: 0.4;
}

.request-button2 {
	background-color: red;
	display: inline;
	outline: none;
	width: 50%;
	overflow: hidden;
	text-align: center;
	float: right;
	border-style: none;
	padding: 6px;
	opacity: 0.4;
}

.request-button1:hover {
	box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.24), 10px 17px 50px 5px rgba(0,0,0,0.19);
	opacity: 0.7;
}

.request-button2:hover {
	box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.24), 10px 17px 50px 5px rgba(0,0,0,0.19);
	opacity: 0.7;
}

.ads {
	background-color: #fff;
	color: #000;
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	text-align: center;
	margin-bottom: 25px;
}

.ads p {
	text-transform: uppercase;
	padding: 50px;
}

.calendar {

	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 4px;
	text-align: center;
}

.calendar p {
	padding: 50px;
}

/* End of Right Column */

/* End of Page Container */

/* Footer */

.footer {
	background-color: #435761;
	color: #fff;
	padding: 1em 16px;
}

.footer2 {
	background-color: #303e45;
	color: #fff;
	padding: 1em 16px;
}